* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "h h h . . . . s s s"
        "h h h n n n n s s s"
        "h h h n n n n s s s"
        "h h h n n n n p p p"
        "h h h n n n n p p p"
        "h h h n n n n p p p"
        "h h h n n n n p p p"
        "h h h . . . . p p p"
        ". . . . . . . . . ."
        ". . . . . . . . . .";
}

.header {
    background-color: aqua;
    grid-area: h;
}

.tabla {
    background-color: blueviolet;
    grid-area: n;
}

.promedio {
    background-color: yellowgreen;
    grid-area: p;
}

.actividad {
    background-color: darkblue;
    grid-area: s;
}
