* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "h h h . . . . s s s"
        "h h h n n n n s s s"
        "h h h n n n n s s s"
        "h h h n n n n p p p"
        "h h h n n n n p p p"
        "h h h n n n n p p p"
        "h h h n n n n p p p"
        "h h h . . . . p p p"
        ". . . . . . . . . ."
        ". . . . . . . . . .";
}

.header {
    background-color: #4a90e2; 
    grid-area: h;
    color: white;
    text-align: center;
    padding: 20px;

}

.tabla {
    background-color: #8913bb; 
    grid-area: n;
    color: white;
    padding: 20px;
}

.promedio {
    background-color: #2ecc71; 
    grid-area: p;
    color: white;
    padding: 20px;
}

.actividad {
    background-color: #e74c3c; 
    grid-area: s;
    color: white;
    padding: 20px;
}





